= render 'partials/header'
.bg-gradient-to-r.from-pink-400.to-blue-300.h-screen.z-10
    .flex.justify-center.flex-row.w-full.h-full
        .flex.h-full.flex-col.justify-center.w-1/2
            .flex.bg-white.rounded-xl.shadow-xl.h-1/2
                .p-12.w-full.flex.justify-center.text-xl.font-sans
                    = form_for(:entry, { url: '/zoom' }) do |f|
                        h1 Create a new entry
                        .field#field-title
                            ul.errorlist
                            .field-wrapper
                            .indicator
                            = f.text_field :title, placeholder: 'Title'

                        .field#field-meetid
                            ul.errorlist
                            .field-wrapper
                            .indicator
                            = f.text_field :meetid, placeholder: 'Meeting Id'
                        .field#field-meetpwd
                            ul.errorlist
                            .field-wrapper
                            .indicator
                            = f.text_field :meetpwd, placeholder: 'Meeting Password'
                        .field#field-prof
                            ul.errorlist
                            .field-wrapper
                            .indicator
                            = f.text_field :prof, placeholder: 'Prof'
                        .field#field-desc
                            ul.errorlist
                            .field-wrapper
                            .indicator
                            = f.text_field :desc, placeholder: 'Description'

                        .submit
                            = f.submit 'Submit', class: 'button'
                            