.w-full.flex.flex-row.justify-center
    .w-1/2.flex.flex-col.h-full
        - for entry in @zoomentries
            .bg-white.h-32.mt-12.rounded-xl.shadow-none.md:shadow-xl
                a href="https://th-koeln.zoom.us/j/#{entry.meetid}?pwd=#{entry.meetpwd}"
                    .m-2
                        = entry.title
                    .m-2 
                        = entry.desc
                    .m-2
                        = entry.prof