.flex.flex-row.h-20.justify-between.shadow-xl.bg-gradient-to-r.from-pink-500.to-blue-400
    img src="assets/ZOOMLOG.png"
    .flex.flex-grow-2
        .flex.justify-between.text-center
            a href="new" class=('flex mr-10 flex-col justify-center')
                p Zoom
            a href="miro" class=('flex mr-10 flex-col justify-center') 
                p Miro
